 body {
    margin: auto;
 }
 .weapper {
  width: 1170px;
  max-width: 100%;
  overflow: hidden;
 }

 /* ここからheader */

  .Header {
   position: fixed;
   display: flex;
   z-index: 999;
   top: 0; left: 0;
   width: 100%; height: 60px;
   background-color: cadetblue;
   color: white;
   box-sizing:content-box;
  }

  .Header .title{
   display: inline;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
  }

 ul {
   list-style: none;
  }

  li {
   display:inline-flex;
   margin-left: 8px;
   text-decoration: none;
   border:1px solid rgb(44, 90, 92);
   border-radius: 8px;
   box-shadow:0 0 10px rgb(44, 90, 92);
   padding: 5px;
   background-color: cadetblue;
   color: white;
   text-align: center;
  }

  /* ここまでheader */

  /* ここからmain */

  .btnMain{
    display: block;
    display: flex;
    justify-content: flex-end;
  }

  #setBtn {
      display: inline-flex;
      margin-right: 6px;
  }

  #setBtn_r {
      display: inline-flex;
      margin-right: 6px;
      border:1px solid rgb(92, 44, 56);
      border-radius: 8px;
      background-color: red;
      color:black
  }

  .main { /* 全体の設定 */
   margin-Top: 60px;
   padding: 10px;
  }

  .mod_main{
    margin-Top: 60px;
    padding: 10px;
  }

  .textBox {
   background-color: whitesmoke;
   margin: 10px;
  }

  .textBox .option{
   padding: 10px;
  }

  .textBox label, button{
   border:1px solid rgb(44, 90, 92);
   border-radius: 8px;
   box-shadow:0 0 10px rgb(44, 90, 92);
   padding: 5px;
   background-color: cadetblue;
   color: white;
   text-align: center;
  }

  .textBox input {
   border:2px dashed rgb(92, 59, 44);
   border-radius: 8px;
   padding: 5px;
   background-color: white;
   color: rgb(92, 59, 44);
   text-align: center;
   margin-left: 16px;
  }

  .textBox .bef {
   width: 100%;
   border:1px solid rgb(44, 90, 92);
   border-radius: 8px;
  }
  .textBox .aft {
   width: 100%;
   border:2px dashed rgb(92, 59, 44);
   border-radius: 8px;
  }

  .MainCont { /* boxを下部に固定するためのメインコンテンツ */
   position: relative;
   display: flex;
   box-sizing: border-box;
   width: auto;
  }

  footer {
   margin-top: auto;
   width: 100%;
   padding: 0 10px;
   background-color: cadetblue;
   color: white;
   align-items: center;

  }

 .box { /* 入力UI */
   width:95%; height:250px; overflow-y: scroll;
   margin:10px; padding: 5px; border:1px solid rgb(44, 90, 92);
   align-items: center;
   border-radius: 8px;
 }

 .outBox { /* 出力UI */
    width:100%; height:400px; overflow-y: scroll;
    margin: auto; padding: auto; border:1px solid lightgray;
    align-items: center;
    border-radius: 8px;
 }

  /* ここまでmain */

  #overlay{
   /*　画面全体を覆う設定　*/
     position:fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background-color:rgba(0,0,0,0.5);
   
     /*　画面の中央に要素を表示させる設定　*/
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: auto;
   }

   #content{
      z-index:2;
      width:90%;
      padding: 1em;
      background:#fff;
    }

    #mini_cnt {
      padding: 5px;
      background:cadetblue;
    }

  /* ここからスマートフォンの設定 */
 
  @media screen and (max-width:480px) {
   .weapper {
    width: 1170px;
    max-width: 100%;
    overflow: hidden;
   }
   .Header {
      position: fixed;
      display: flex;
      z-index: 999;
      top: 0; left: 0;
      width: 100%; height: 90px;
      background-color: cadetblue;
      color: white;
      box-sizing:content-box;
     }

   .Header .title{
      display: inline;
      padding: 0 10px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
     }

     li {
      display:inline-flex;
      margin-left: 6px;
     }

     .box { /* 入力UI */
      width:95%; height:230; overflow-y: scroll;
      margin:auto; padding: auto; border:1px solid black;
    }
   
    .main { /* 全体の設定 */
      margin-Top: 90px;
      padding: 5px;
     }

     .MainCont { /* boxを下部に固定するためのメインコンテンツ */
      position: relative;
      display: flex;
      width: auto;
      box-sizing: border-box;
     }

    .outBox { /* 出力UI */
       width:100%; height:200px; overflow-y: scroll;
       margin: auto; padding: auto; border:1px solid lightgray;
    }

    .textBox .aft {
      width: 100%;
      border:2px dashed rgb(92, 59, 44);
      border-radius: 8px;
     }
 }