 body {
    margin: auto;
 }

 /* ここからheader */

  .Header {
   position: fixed;
   display: flex;
   z-index: 999;
   top: 0; left: 0;
   width: 100%; height: 60px;
   background-color: cadetblue;
   color: white;
   box-sizing:content-box;
  }

  .Header .title{
   display: inline;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
   margin-right: 16px;
  }

 ul {
   list-style: none;
  }

  li {
   display:inline-flex;
   margin-left: 16px;
   text-decoration: none;
   border:1px solid rgb(44, 90, 92);
   border-radius: 8px;
   box-shadow:0 0 10px rgb(44, 90, 92);
   padding: 5px;
   background-color: cadetblue;
   color: white;
   text-align: center;
  }

  /* ここまでheader */

  /* ここからmain */

  .main { /* 全体の設定 */
   margin-Top: 60px;
   padding: 10px;
  }

  .textBox {
   background-color: whitesmoke;
   margin: 10px;
  }

  .textBox .option{
   padding: 10px;
  }

  .textBox label, button{
   border:1px solid rgb(44, 90, 92);
   border-radius: 8px;
   box-shadow:0 0 10px rgb(44, 90, 92);
   padding: 5px;
   background-color: cadetblue;
   color: white;
   text-align: center;
  }

  .textBox input {
   border:2px dashed rgb(92, 59, 44);
   border-radius: 8px;
   padding: 5px;
   background-color: white;
   color: rgb(92, 59, 44);
   text-align: center;
   margin-left: 16px;
  }

  .textBox .bef {
   width: 100%;
   border:1px solid rgb(44, 90, 92);
   border-radius: 8px;
  }
  .textBox .aft {
   width: 100%;
   border:2px dashed rgb(92, 59, 44);
   border-radius: 8px;
  }

  .MainCont { /* boxを下部に固定するためのメインコンテンツ */
   position: relative;
   display: flex;
   box-sizing: border-box;
  }

  footer {
   margin-top: auto;
   width: 100%;
   padding: 0 10px;
   background-color: cadetblue;
   color: white;
  }

 .box { /* 入力UI */
   width:95%; height:300px; overflow-y: scroll;
   margin:10px; padding: auto; border:1px solid black;
 }

 .outBox { /* 出力UI */
    width:100%; height:400px; overflow-y: scroll;
    margin: auto; padding: auto; border:1px solid lightgray;
 }

  /* ここまでmain */

  /* ここからスマートフォンの設定 */
 
  @media screen and (max-width:480px) {
   .Header {
      position: fixed;
      display: flex;
      z-index: 999;
      top: 0; left: 0;
      width: 100%; height: 60px;
      background-color: cadetblue;
      color: white;
      box-sizing:content-box;
     }

   .Header .title{
      display: inline;
      padding: 0 15px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
     }

     li {
      display:inline-flex;
      margin-left: 8px;
     }

     .box { /* 入力UI */
      width:95%; height:250; overflow-y: scroll;
      margin:10px; padding: auto; border:1px solid black;
    }
   
    .outBox { /* 出力UI */
       width:100%; height:200px; overflow-y: scroll;
       margin: auto; padding: auto; border:1px solid lightgray;
    }
 }